nav {
  height: 10vh;
  width: 100%;
  color: #FFFFFF;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  
  z-index: 9999;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 4vw;
  margin: 0 0 0 4vw;
}

nav div {
  font-size: 2.8vw;
}

nav p {
  
  margin: 0 4vw 0 0;
  text-align: center;
}

p.arrow {
color: #F13B19;
margin: 0 4vw 0 0;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {

  nav div {
    font-size: 20px;
  }

  .logo {
    font-size: 1.5em;
  }

}

/* Desktop styles */
@media only screen and (min-width: 1024px) {

  nav {
    background-color: #4056A1;
    
  }

/* 
  .logo {
    font-family: 'Bungee', sans-serif;
    font-size: 1.5em;
    margin: 0 0 0 4vw;
  }

  nav p {
    font-size: 20px;
    margin: 0 4vw 0 0;
    text-align: center;
  }

  p.arrow {
  color: #F13B19;
  margin: 0 4vw 0 0;
} */

}